.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #77002e;
  padding: 0 10%;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }

  li {
    margin-left: 3rem;
  }

  a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fcb8d2;

    &:hover, &:active {
      color: white;
    }
  }

}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}